* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

:root {
  --white: hsl(0, 0%, 100%);
  --grey-200: hsl(148, 38%, 91%);
  --grey-500: hsl(186, 15%, 59%);
  --grey-600: hsl(169, 82%, 27%);
  --grey-900: hsl(187, 24%, 22%);
  --red: hsl(0, 66%, 54%);
  --regular-font: 400;
  --bold-font: 700;
}

.displayNone {
  display: none;
}

body {
  background-color: var(--grey-200);
}

form {
  background-color: var(--white);
  color: var(--grey-900);
  padding: 1.25em;
  border-radius: 1em;
  max-width: 90%;
  margin: 2em auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#form-header {
  font-size: 1.25rem;
  font-weight: var(--bold-font);
}

.input-layout-header {
  font-size: 0.9rem;
  font-weight: var(--regular-font);
}

.label-asterisk {
  color: var(--grey-600);
  margin-left: 0.5em;
}

.name-input-layout {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.first-name-input-layout,
.last-name-input-layout,
.email-input-layout {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

#first-name-input,
#last-name-input,
#email-input {
  padding: 0.9em;
  border-radius: 0.5em;
  border: 1px solid var(--grey-500);
  outline: none;
  font-size: 0.9rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--grey-900);
  -webkit-box-shadow: 0 0 0px 1000px var(--white) inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

.error-message {
  font-size: 0.75rem;
  font-weight: var(--regular-font);
  color: var(--red);
}

#query-type-input-1,
#query-type-input-2 {
  /* display: none; */
  /* display none will return an error for a required input */
  opacity: 0;
  z-index: -1;
  position: absolute;
  width: 0;
}

.query-type-input-layout {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.radio-input-layout {
  display: flex;
  flex-direction: column;
  gap: 0.65em;
}

.query-type-input {
  display: flex;
  align-items: center;
  gap: 0.9em;
  width: 100%;
  padding: 0.75em 1.5em;
  border: 1px solid var(--grey-500);
  border-radius: 0.5em;
  font-size: 0.9rem;
}

textarea {
  margin-top: 1em;
  width: 100%;
  height: 10em;
  border: 1px solid var(--grey-500);
  outline: none;
  padding: 0.75em 1em;
  font-size: 0.9rem;
}

#checkbox-label {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

#checkbox-input {
  opacity: 0;
  width: 0;
  z-index: -1;
}

#consent-label-text {
  font-size: 0.9rem;
}

button {
  padding: 1em;
  background-color: var(--grey-600);
  border: none;
  color: var(--white);
  border-radius: 0.5em;
  font-size: 0.8rem;
}

button:hover {
  background-color: var(--grey-900);
}

.form-sub-msg-layout {
  background-color: var(--grey-900);
  color: var(--white);
}
