* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

:root {
  --white: hsl(0, 0%, 100%);
  --grey-200: hsl(148, 38%, 91%);
  --grey-500: hsl(186, 15%, 59%);
  --grey-600: hsl(169, 82%, 27%);
  --grey-900: hsl(187, 24%, 22%);
  --red: hsl(0, 66%, 54%);
  --regular-font: 400;
  --bold-font: 700;
}

body {
  background-color: var(--grey-200);
}

form {
  background-color: var(--white);
  color: var(--grey-900);
}







.form-sub-msg-layout {
  background-color: var(--grey-900);
  color: var(--white);
}
